{% extends 'base.html' %}

{% block title %}Password change{% endblock %}

{% block content %}
    <div class="login-container form-container">
        <h2>Change your password</h2>
        <form action="" method="post" class="login-form">
            {% csrf_token %}
            <input type="password" name="old_password" placeholder="Old password"><br>
            <input type="password" name="new_password1" placeholder="New password"><br>
            <input type="password" name="new_password2" placeholder="New password confirmation"><br>

            <input type="submit" class="btn btn-success login-button" value="Change password">
            
        </form>
    </div>
{% endblock %}